{% extends "CLP/base.html" %} {% block content %} {% load static %}
<div class="cards-list">
    {% if content %} {% for val in data %} {% csrf_token %}
    <div class="card" id="{{ val.slug }}">
        <div class="card-header " id="card-header ">
            <h1>{{ val.topic }}</h1>
        </div>
        <div class="card-body " id="card-body ">
            <p>
                {{val.sub}}
            </p>
            <a class="btn " id="btn-time ">{{val.time}}</a>
        </div>
    </div>
    {% endfor %} {% else %}
    <h1 class="no-data-error ">Nothing to show right now 😒 <br> No worries, you can create one now from the <i>New meeting dashboard</i>😎😎</h1>
    {% endif %}
</div>

<!-- Pop-up window on clicking the meeting cards -->
<div class="modal" id="modal">
    <div class="inner_container" id="container">
        <div class="modal-header">
            <button id="close">✖</button>
            <h2 id="modal-title">Modal Title</h2>
        </div>

        <div class="modal-body">
            <h3 id="modal-sub">Subject: </h3>
            <h3 id="modal-time">Time: </p>
        </div>

        <div class="modal-foot">
            <button id="joinbtn">Join Meeting</button>
        </div>
    </div>

</div>

{% endblock %} {% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".card").click(function() {
        var id = $(this).attr("id");
        $.ajax({
            type: 'POST',
            url: "{% url 'index' %}",
            data: {
                'id': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function() {
                console.log('Success');
            },
            error: function() {
                console.log('Failed');
            }
        })
    })
</script>

{% endblock %}