<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Forgot Password</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel=stylesheet href="{% static 'css/forgotcss.css' %}" type="text/css">
</head>
<body>
    <div class="container" id="container">  
        
        <div class="inner_container" id="container">   
            <h2>Forgot Password</h2>     
            <br>
            <h4>Enter your registered Emaid ID:</h4>
            <input type="email" placeholder="Email" />
            <button  id="Confirm">Confirm</button>
            <br>
            <br>
            <h5>A reset link will be sent to your registered mail.</h5>
            <br>
            <br>
        </div>
    </div>

</body>
</html>




