{% extends 'CLP/base.html' %} {% load static %} {% block content %}

<div class="rewards">
    <div class="rewardIcon">
        <img id="trophy" src="/static/images/award.png">
    </div>
    <div class="rewardAmount">
        <h3>{{ rewardPts }}</h3>
    </div>
</div>

<div>
    <img id="banner" src="/static/images/relaxBanner.png">

</div>
<div class="gameContainer">
    <div class="gametile">
        <img id="gamePrev" src="/static/images/bubbleshooter.jpg">
        <h2 id="gameTitle">Bubble Shooter</h2>
        <a href="/CLP/bubbleshooter"><button class="gameBtn">Play</button></a>
    </div>
    <div class="gametile">
        <img id="gamePrev" src="/static/images/wordle.PNG">
        <h2 id="gameTitle">Wordle Nouvelle</h2>
        <a href="/CLP/wordle"><button class="gameBtn">Play</button></a>
    </div>
    <div class="gametile">
        <img id="gamePrev" src="/static/images/2048.PNG">
        <h2 id="gameTitle">2048</h2>
        <a href="/CLP/game2048"><button class="gameBtn">Play</button></a>
    </div>
</div>



{% endblock content %}