{% extends 'CLP/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- <div class="container">
    <div class="row">
      {% for note in notes %}
        <div class="col-sm-3">
            <a href="{% url 'notes-detail' note.id %}">
                <div class="note-card">
                    <div class="note-card-header">
                        <a id="card-delete" href="{% url 'delete-note' note.id %}">
                        <i data-feather="trash-2">X</i></a>
                    </div>
                    <div class="note-card-body">
                        {{note.title}}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <br><br>

    </div>
</div> -->
<div class="note-container">
    <div class="cards-list">
        {% if content %} {% for note in notes %} 
        <div class="note-card" >
            <div class="note-card-header">
                <a id="card-delete" href="{% url 'delete-note' note.id %}">
                <i data-feather="trash-2">X</i></a>
            </div>
            <div class="note-card-body">
                <a href="{% url 'notes-detail' note.id %}" style="text-decoration: none;">
                {{note.title}}</a>
            </div>
        </div>
        {% endfor %}{% else %}
        <h1 class="no-data-error ">Nothing to show right now 😒 <br> No worries, you can create one now 😎😎</h1>
        {% endif %}
    </div>
</div>

<br><br>
<br><br>
<div class="container">
    <form method="POST">
      {% csrf_token %}
        
        <h1>Create Notes</h1>   
        <h3 id="notes_form_title">Title</h3>
        <input type="text" placeholder="Title" name="title">
        <h3 id="notes_form_title">Description</h3>
        <textarea id="descriptionBox" name="description" placeholder="Description" rows="4" cols="50"></textarea>
        <br>
        <button href="" class="btn btn-outline-info" type="submit">
            Create
        </button>
    </form>
</div>

{% endblock content %}